global:
  namespace: tracking

kafkaImage:
  repository: apache/kafka
  tag: "4.1.1"
  pullPolicy: IfNotPresent

busyboxImage:
  repository: busybox
  tag: "1.37.0"
  pullPolicy: IfNotPresent

kafka:
  type: NodePort

  port: 9092
  targetPort: 9092
  nodePort: 30092

  clientPort: 29092
  controllerPort: 9093

  listenersString: "PLAINTEXT://:9092,CONTROLLER://:9093,PLAINTEXT_HOST://0.0.0.0:29092"
  securityProtocolMap: "PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT"
  advertisedListenersString: "PLAINTEXT://tracking-kafka.tracking.svc.cluster.local:9092,PLAINTEXT_HOST://tracking-kafka.tracking.svc.cluster.local:29092"

  serviceFQDN: "tracking-kafka.tracking.svc.cluster.local"
