# this yaml is merged into the chart file and deleted before using helm and deleted afterwards in the target directory
bitnamiKafkaImage:
  repository: bitnami/kafka
  tag: "3.9.0"
  pullPolicy: IfNotPresent

busyboxImage:
  repository: busybox
  tag: "1.37.0"
  pullPolicy: IfNotPresent