server:
  port: 8081

spring:
  application:
    name: tracking
  kafka:
    # See: https://docs.conduktor.io/desktop/kafka-cluster-connection/setting-up-a-connection-to-kafka/connecting-to-kafka-running-on-windows-wsl-2/#two-ways-to-fix-this
    # and: https://stackoverflow.com/questions/46158296/kafka-broker-not-available-at-starting
    bootstrap-servers: "[::1]:29092"
    admin:
      properties:
        bootstrap.servers: "[::1]:29092"
    consumer:
      bootstrap-servers: "[::1]:29092"
      auto-offset-reset: earliest
      properties:
        spring.json.trusted.packages: "*"
        allow.auto.create.topics: false
  docker:
    compose:
      enabled: true
      stop:
        command: down
      skip:
        in-tests: false  

management:
  health:
    readinessstate:
      enabled: true
    livenessstate:
      enabled: true
  endpoints:
    access:
      default: unrestricted
    web:
      exposure:
        include: "*"
  endpoint:
    configprops:
      # WARNING: SECURITY RISK - DO NOT USE IN PRODUCTION ENVIRONMENT
      # This configuration exposes sensitive data and should only be used for development or testing purposes.
      # Ensure this is disabled in any environment where security is a concern.
      show-values: ALWAYS
    health:
      probes:
        enabled: true
      show-details: always
  info:
    build:
      enabled: true
    env:
      enabled: true
    java:
      enabled: true
    os:
      enabled: true
    git:
      enabled: true
      mode: full
  httpexchanges:
    recording:
      enabled: true
      include: request_headers, response_headers, session_id, time_taken
  observations:
    annotations:
      enabled: true
    http:
      server:
        requests:
          name: http.server.requests
      client:
        requests:
          name: http-client-requests